* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: pink;
}
.cards {
  float: left;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 30px 50px;
  margin-left: 70px;
}

.card {
  width: 200px;
  height: auto;
  margin: 30px auto;
  box-shadow: 0 3rem 4rem -7px chocolate;
  background-color: papayawhip;
  border-radius: 20px 20px 20px 20px;
}

.card img {
  display:inline-block;
  width: 100%;
  height: 11rem;
  border-radius: 15px 15px 15px 15px;
}

.card_info {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2rem;
  font-weight: bold;
}

.card_info button {
  width: auto;
  padding: 10px;
  border-radius: 10px 10px;
  margin-bottom: 10px;
  
  font-size: 16px;
  font-weight: bold;
}
